<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Save Client</title>

	<style>
    .error {
        color: red;
    }
    </style>

</head>

<body>

	<div class="container">
	
		<h3>Client Directory</h3>
		<hr>
		
		<p class="h4 mb-4">Save Client</p>
	
		<form action="#" th:action="@{/clients/save}"
						 th:object="${client}" method="POST">
		
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			
			<input type="text" th:field="*{firstName}"
					class="form-control mb-4 col-4" placeholder="First name">
			<p th:if="${#fields.hasErrors('firstName')}" th:errorclass="error" th:errors="*{firstName}" />

			<input type="text" th:field="*{lastName}"
					class="form-control mb-4 col-4" placeholder="Last name">
			<p th:if="${#fields.hasErrors('lastName')}" th:errorclass="error" th:errors="*{lastName}" />

			<input type="text" th:field="*{contact}"
				   class="form-control mb-4 col-4" placeholder="Phone number">
			<p th:if="${#fields.hasErrors('contact')}" th:errorclass="error" th:errors="*{contact}" />

			<input type="text" th:field="*{email}"
					class="form-control mb-4 col-4" placeholder="Email">
			<p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}" />

			<label class="col-form-label col-sm-4">Trainers:</label>

			<div class="col-sm-8 text-left">
				<th:block th:each="trainer : ${trainers}">
					<div>
						<input type="radio" th:field="*{trainers}" th:text="${trainer.trainerName}"
							   th:value="${trainer.id}"  class="m-2"/>
					</div>
				</th:block>
			</div>
			<p th:if="${#fields.hasErrors('trainers')}" th:errorclass="error" th:errors="*{trainers}" />
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>

		<hr>

		<a th:href="@{/clients/list}" class="btn btn-primary btn-sm mb-3">Back to Home Page</a>
		
	</div>
</body>

</html>










